@using NakliyeNet.Domain.Entity;
@using NakliyeNet.Domain.Models.Common;
@using NakliyeNet.Domain.Common;
@model PaginationResult<RequestApplication>
@{
    ViewData["Title"] = "Tekliflerim";
}
<div class="page-header d-print-none">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Tekliflerim
                </h2>
            </div>
        </div>
    </div>
</div>
<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-body p-0">
                <div id="table-default" class="table-responsive">
                    <table class="table table-hover" style="vertical-align:middle">
                        <thead>
                            <tr>
                                <th>Teklif Id</th>
                                <th>Kategori</th>
                                <th>Ücret</th>
                                <th>Teklif Tarihi</th>
                                <th>Durum</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="table-tbody">
                            @foreach (var t in Model.Data)
                            {
                                <tr>
                                    <td class="sort-name">#@t.Id</td>
                                    <td class="sort-city"><a href="/company/requests/detail/@t.RequestId">@t.Request.Category.Name</a></td>
                                    <td class="sort-type">@t.Amount.ToString("C0")</td>
                                    <td class="sort-score">@t.CreateDate.ToShortDateString()</td>
                                    <td class="sort-score">
                                        @if (t.Status == (int)RequestApplicationStatus.Sent)
                                        {
                                            <span class="badge bg-info">Gönderildi</span>
                                        }
                                        @if (t.Status == (int)RequestApplicationStatus.Approved)
                                        {
                                            <span class="badge bg-success">Onaylandı</span>
                                        }
                                        @if (t.Status == (int)RequestApplicationStatus.Cancelled)
                                        {
                                            <span class="badge bg-secondary">İptal Edildi</span>
                                        }
                                    </td>
                                    <td class="sort-progress">
                                        <a href="/company/requests/detail/@t.RequestId" class="btn btn-primary">Talep Detayı</a>
                                        @if (t.Status == (int)RequestApplicationStatus.Sent)
                                        {
                                            <button type="button" class="btn btn-danger btnCancel" data-id="@t.Id">Geri Çek</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                        @if (Model.Data.Count == 0)
                        {
                            <tfoot>
                                <tr>
                                    <td colspan="7">
                                        <div class="empty">
                                            <div class="empty-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                                    <circle cx="12" cy="12" r="9" />
                                                    <line x1="9" y1="10" x2="9.01" y2="10" />
                                                    <line x1="15" y1="10" x2="15.01" y2="10" />
                                                    <path d="M9.5 15.25a3.5 3.5 0 0 1 5 0" />
                                                </svg>
                                            </div>
                                            <p class="empty-title">Henüz Teklif Vermedin</p>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(".btnCancel").click(function () {
            if (confirm("Bu teklifi geri çekmek istediğinizden emin misiniz ?")) {
                $.post("/company/application/cancel", { applicationId: $(this).data("id") }, function () {
                    location.reload();
                })
            }
        })
    </script>
}