@using TransportationApp.Domain.Models.Membership
@model SignUpModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Şirket Hesabı Oluştur</title>
    <!-- CSS files -->
    <link href="/css/tabler.min.css?1684106062" rel="stylesheet" />
    <link href="/css/tabler-flags.min.css?1684106062" rel="stylesheet" />
    <link href="/css/tabler-payments.min.css?1684106062" rel="stylesheet" />
    <link href="/css/tabler-vendors.min.css?1684106062" rel="stylesheet" />
    <link href="/css/demo.min.css?1684106062" rel="stylesheet" />
    <style>
        @@import url('https://rsms.me/inter/inter.css');

        :root {
            --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }

        body {
            font-feature-settings: "cv03", "cv04", "cv11";
        }
    </style>
</head>
<body class=" d-flex flex-column">
    <script src="/js/demo-theme.min.js?1684106062"></script>
    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="text-center mb-4">
                <a href="." class="navbar-brand navbar-brand-autodark"><img src="./static/logo.svg" height="36" alt=""></a>
            </div>
            <form class="card card-md" method="post" autocomplete="off" novalidate>
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Şirket Hesabı Oluştur</h2>
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            @Html.ValidationSummary()
                        </div>
                    }
                    <div class="mb-3">
                        <label class="form-label">Şirket İsmi</label>
                        @Html.TextBoxFor(n => n.Name, new { @class = "form-control", placeholder = "Şirket İsmi", required = "" })
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        @Html.TextBoxFor(n => n.Email, new { @class = "form-control", placeholder = "Email", required = "" })
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Şifre</label>
                        <div class="input-group input-group-flat">
                            @Html.TextBoxFor(n => n.Password, new { @class = "form-control", placeholder = "Şifre", required = "", type = "password" })
                            <span class="input-group-text">
                                <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M10 12a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" /><path d="M21 12c-2.4 4 -5.4 6 -9 6c-3.6 0 -6.6 -2 -9 -6c2.4 -4 5.4 -6 9 -6c3.6 0 6.6 2 9 6" /></svg>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-check">
                            <input type="checkbox" name="agreed" class="form-check-input" required />
                            <span class="form-check-label"><a href="" tabindex="-1">Kullanıcı sözleşmesnini</a> kabul ediyorum.</span>
                        </label>
                    </div>
                    <div class="form-footer">
                        <button type="submit" class="btn btn-primary w-100">Kayıt Ol</button>
                    </div>
                </div>
            </form>
            <div class="text-center text-muted mt-3">
                Zaten hesabın var mı? <a href="/membership/companylogin" tabindex="-1">Giriş Yap</a>
            </div>
        </div>
    </div>
    <!-- Libs JS -->
    <!-- Tabler Core -->
    <script src="/js/tabler.min.js?1684106062" defer></script>
    <script src="/js/demo.min.js?1684106062" defer></script>
</body>
</html>