<!-- Carousel Start -->
<div class="container-fluid p-0 pb-5">
    <div class="owl-carousel header-carousel position-relative mb-5">
        <div class="owl-carousel-item position-relative">
            <img class="img-fluid" src="/public/img/carousel-3.jpg" alt="">
            <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(6, 3, 21, .5);">
                <div class="container">
                    <div class="row justify-content-start">
                        <div class="col-10 col-lg-8">
                            <h1 class="display-3 text-white animated slideInDown mb-4">En İyi <span class="text-primary">Nakliye Firmaları</span> ile İşbirliği Yapın, Yüklerinizi Güvenle Taşıyın</h1>
                            <p class="fs-5 fw-medium text-white mb-4 pb-2">Nakliye işleri artık daha hızlı, daha güvenilir ve daha kolay! NakliyeNet, size en iyi nakliye firmalarını ve taşıma hizmetlerini sunuyor. Her türlü yükü güvenle taşımak için ihtiyacınız olan her şey burada. Siz de bugün katılın ve taşımanızı başlatın</p>
                            <a href="/membership/signup" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Nakliye Hizmet Al</a>
                            <a href="/membership/companySignup" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Nakliye Hizmet Ver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- About Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0" id="about">
    <div class="container about py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="/public/img/about.jpg" style="object-fit: cover;" alt="">
                </div>
            </div>
            <div class="col-lg-6 about-text wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="text-secondary text-uppercase mb-3"><a href="#about">Hakkımızda</a></h6>
                <h1 class="mb-5">İhtiyaçlarınıza Uygun Taşıma Çözümleri Sunuyoruz"</h1>
                <p class="mb-5">
                    Amacımız, müşterilerimize güvenilir, hızlı ve ekonomik taşıma seçenekleri sunarak işlerini kolaylaştırmaktır. Deneyimli nakliye firmalarıyla işbirliği yaparak, yüklerinizi güvenle taşımanızı sağlıyoruz. Her türlü taşıma ihtiyacınıza uygun çözümler sunuyoruz ve müşteri memnuniyetini her zaman en üst öncelik olarak görüyoruz. NakliyeNet olarak, taşımacılıkta yeni bir standart belirlemek ve müşterilerimizin işlerini büyütmelerine yardımcı olmak için buradayız. Bizimle çalışın ve taşıma deneyiminizi dönüştürün.
                </p>
                <div class="row g-4 mb-5">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                        <i class="fa fa-globe fa-3x text-primary mb-3"></i>
                        <h5>Türkiye Genelinde Hizmet</h5>
                        <p class="m-0">Yüklerinizi Türkiye'nin herhangi bir noktasına güvenle taşıyabilmek için geniş bir kapsama alanına sahibiz</p>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                        <i class="fa fa-clock-o fa-3x text-primary mb-3"></i>
                        <h5>Zamanında Teslimat Garantisi</h5>
                        <p class="m-0">Yüklerinizi zamanında teslim etme konusundaki taahhüdüyle işinizin akışını kesintisiz ve güvenilir hale getirir</p>
                    </div>
                </div>
                <a href="" class="btn btn-primary py-3 px-5">Daha Fazla</a>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Fact Start -->
<div class="container-xxl py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="mb-5">Tüm Sevkiyatlarınızı Yönetmek İçin İhtiyacınız Olan Yer</h1>
                <p class="mb-5">Tüm sevkiyatlarınızı kolayca yönetmeniz için tek bir merkez sunar. Artık yüklerinizi izlemek, taşıma süreçlerini planlamak ve tüm lojistik işlemlerinizi verimli bir şekilde koordine etmek için karmaşık sistemlere ihtiyaç duymayacaksınız. Web sitemizde, tüm sevkiyatlarınızın detaylarını, rezervasyonlarınızı ve tarihleri kolayca görebilir, güncel tutabilir ve düzenleyebilirsiniz. <b>NakliyeNet</b> ile sevkiyatlarınızı sorunsuz bir şekilde yönetmek için ihtiyacınız olan her şey burada!</p>
                <div class="d-flex align-items-center">
                    <i class="fa fa-headphones fa-2x flex-shrink-0 bg-primary p-3 text-white"></i>
                    <div class="ps-4">
                        <h6>Herhangi bir sorunuz için</h6>
                        <h3 class="text-primary m-0">0216 000 0000</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row g-4 align-items-center">
                    <div class="col-sm-6">
                        <div class="bg-primary p-4 mb-4 wow fadeIn" data-wow-delay="0.3s">
                            <i class="fa fa-users fa-2x text-white mb-3"></i>
                            <h2 class="text-white mb-2" data-toggle="counter-up">3.426</h2>
                            <p class="text-white mb-0">Mutlu Müşteri</p>
                        </div>
                        <div class="bg-secondary p-4 wow fadeIn" data-wow-delay="0.5s">
                            <i class="fa fa-ship fa-2x text-white mb-3"></i>
                            <h2 class="text-white mb-2" data-toggle="counter-up">2.732</h2>
                            <p class="text-white mb-0">Tamamlanan Sevkiyat</p>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="bg-success p-4 wow fadeIn" data-wow-delay="0.7s">
                            <i class="fa fa-star fa-2x text-white mb-3"></i>
                            <h2 class="text-white mb-2" data-toggle="counter-up">1.242</h2>
                            <p class="text-white mb-0">Müşteri Değerlendirmesi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Fact End -->
<!-- Service Start -->
<div class="container-xxl py-5" id="services">
    <div class="container py-5">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="text-secondary text-uppercase">Hizmetlerimiz</h6>
            <h1 class="mb-5">Hizmetlerimizi Keşfedin</h1>
        </div>
        <div class="row g-4">
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="/public/img/home.jpg" alt="">
                    </div>
                    <h4 class="mb-3">Evden Eve Nakliyat</h4>
                    <p>Evden eve nakliyat hizmetimizle, eşyalarınızı güvenle taşımanız için yanınızdayız..</p>
                    <a class="btn btn-primary mt-2" href="/membership/signup"><i class="fa fa-arrow-right"></i> <span>Hizmet Al</span></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="/public/img/office.jpg" alt="">
                    </div>
                    <h4 class="mb-3">Ofis Taşıma</h4>
                    <p>Ofis taşıma hizmetimiz, iş yerinizi sorunsuz bir şekilde yeni lokasyonunuza taşımanıza yardımcı olur.</p>
                    <a class="btn btn-primary mt-2" href="/membership/signup"><i class="fa fa-arrow-right"></i> <span>Hizmet Al</span></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="/public/img/service-6.jpg" alt="">
                    </div>
                    <h4 class="mb-3">Ticari Yük Taşıma</h4>
                    <p>Ticari yük taşıma çözümlerimizle, işletmenizin büyümesini desteklemek ve ürünlerinizi Türkiye genelinde güvenli bir şekilde taşımak için buradayız.</p>
                    <a class="btn btn-primary mt-2" href="/membership/signup"><i class="fa fa-arrow-right"></i> <span>Hizmet Al</span></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="/public/img/freezer.jpg" alt="">
                    </div>
                    <h4 class="mb-3">Eşya Taşıma</h4>
                    <p>NakliyeNet olarak, eşya taşıma deneyiminizi sorunsuz ve stresiz hale getirmek için buradayız. Güvende olmanızı sağlamak bizim önceliğimizdir.</p>
                    <a class="btn btn-primary mt-2" href="/membership/signup"><i class="fa fa-arrow-right"></i> <span>Hizmet Al</span></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="/public/img/cities.jpg" alt="">
                    </div>
                    <h4 class="mb-3">Şehirler Arası Nakliye</h4>
                    <p>Şehirler arası nakliye hizmetimiz, eşyalarınızı Türkiye genelinde güvenilir bir şekilde taşımanız için en iyi seçenektir.</p>
                    <a class="btn btn-primary mt-2" href="/membership/signup"><i class="fa fa-arrow-right"></i> <span>Hizmet Al</span></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item p-4">
                    <div class="overflow-hidden mb-4">
                        <img class="img-fluid" src="/public/img/airline.jpg" alt="">
                    </div>
                    <h4 class="mb-3">Havaalanı Transfer</h4>
                    <p>Havaalanından eşya transferi hizmetimiz, bagajlarınızı güvenilir bir şekilde havaalanından adresinize taşımanızı kolaylaştırır</p>
                    <a class="btn btn-primary mt-2" href="/membership/signup"><i class="fa fa-arrow-right"></i> <span>Hizmet Al</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- Feature Start -->
<div class="container-fluid overflow-hidden py-5 px-lg-0">
    <div class="container feature py-5 px-lg-0">
        <div class="row g-5 mx-lg-0">
            <div class="col-lg-6 feature-text wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase mb-3">Our Features</h6>
                <h1 class="mb-5">Güvendiğiniz Lojistik Şirketi, 2009'dan Beri</h1>
                <div class="d-flex mb-5 wow fadeInUp" data-wow-delay="0.3s">
                    <i class="fa fa-globe text-primary fa-3x flex-shrink-0"></i>
                    <div class="ms-4">
                        <h5>Türkiye Çapında Hizmet</h5>
                        <p class="mb-0">Türkiye'nin dört bir yanına yayılan geniş hizmet ağımızla, nakliye ihtiyaçlarınızı en ücra köşelere kadar karşılıyoruz</p>
                    </div>
                </div>
                <div class="d-flex mb-5 wow fadeIn" data-wow-delay="0.5s">
                    <i class="fa fa-clock-o text-primary fa-3x flex-shrink-0"></i>
                    <div class="ms-4">
                        <h5>Zamanında Teslimat</h5>
                        <p class="mb-0">Zamanında teslimat taahhüdümüz sayesinde, yüklerinizin her zaman hedefine planlandığı gibi ulaşmasını sağlıyoruz.</p>
                    </div>
                </div>
                <div class="d-flex mb-0 wow fadeInUp" data-wow-delay="0.7s">
                    <i class="fa fa-headphones text-primary fa-3x flex-shrink-0"></i>
                    <div class="ms-4">
                        <h5>24/7 Müşteri Hizmetleri</h5>
                        <p class="mb-0">Müşteri memnuniyeti önceliğimizdir. 24/7 telefon desteği ile her an yanınızdayız, sorularınızı yanıtlamak ve ihtiyaçlarınıza anında çözümler sunmak için hazırız</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0 wow fadeInRight" data-wow-delay="0.1s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="/public/img/feature.jpg" style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->
<!-- Testimonial Start -->
<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="text-center">
            <h1 class="mb-0">Müşterilerimizin Değerlendirmeleri</h1>
        </div>
        <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    <img class="img-fluid flex-shrink-0" src="/public/img/testimonial-1.jpg" style="width: 80px; height: 80px;">
                    <div class="ms-4">
                        <h5 class="mb-1">Ayşe Yılmaz</h5>
                        <p class="m-0">Mimar</p>
                    </div>
                </div>
                <p class="mb-0">NakliyeNet, işyerimi yeni bir lokasyona taşırken bana büyük yardım sağladı. Zamanında teslimatları ve mükemmel hizmeti sayesinde endişe duymadan taşınabildim. Harika bir deneyim oldu</p>
            </div>
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    <img class="img-fluid flex-shrink-0" src="/public/img/testimonial-2.jpg" style="width: 80px; height: 80px;">
                    <div class="ms-4">
                        <h5 class="mb-1">Mehmet Tekin</h5>
                        <p class="m-0">Gıda Distribütörü</p>
                    </div>
                </div>
                <p class="mb-0">Ticari yüklerimi NakliyeNet ile taşıdım ve sonuçtan çok memnun kaldım. Hızlı ve güvenilir teslimatları sayesinde işimi büyütmeme yardımcı oldular. Kesinlikle tavsiye ederim</p>
            </div>
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    <img class="img-fluid flex-shrink-0" src="/public/img/testimonial-3.jpg" style="width: 80px; height: 80px;">
                    <div class="ms-4">
                        <h5 class="mb-1">Ahmet Yılmaz</h5>
                        <p class="m-0">Makine Mühendisi</p>
                    </div>
                </div>
                <p class="mb-0">NakliyeNet, evimi taşırken mükemmel bir hizmet sundu. Eşyalarımı güvenle taşıdılar ve hiçbir sorun yaşamadım. Onların sayesinde taşınmak hiç bu kadar kolay olmamıştı. Teşekkür ederim</p>
            </div>
            <div class="testimonial-item p-4 my-5">
                <i class="fa fa-quote-right fa-3x text-light position-absolute top-0 end-0 mt-n3 me-4"></i>
                <div class="d-flex align-items-end mb-4">
                    <img class="img-fluid flex-shrink-0" src="/public/img/testimonial-4.jpg" style="width: 80px; height: 80px;">
                    <div class="ms-4">
                        <h5 class="mb-1">Aysun Karabulut</h5>
                        <p class="m-0">İşletme Sahibi</p>
                    </div>
                </div>
                <p class="mb-0">NakliyeNet'in müşteri desteği gerçekten harika. Herhangi bir sorunum olduğunda 7/24 telefon desteği ile hemen yardımcı oldular. Profesyonel bir ekip ve mükemmel hizmet, teşekkür ederim!</p>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
<div class="container-xxl py-5" id="contact">
    <div class="container py-5">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <h1 class="mb-5">Bir Mesaj Bırakın</h1>
                <div class="mb-5">
                    <h4 class="mb-4">Adres</h4>
                    <p class="mb-2"><i class="fa fa-map-marker me-3"></i>Ümraniye, İstanbul, Türkiye</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>iletisim@nakliyenet.com</p>
                </div>
                <div class="d-flex align-items-center">
                    <i class="fa fa-headphones fa-2x flex-shrink-0 bg-primary p-3 text-white"></i>
                    <div class="ps-4">
                        <h6>Müşteri Hizmetleri</h6>
                        <h3 class="text-primary m-0">0216 000 0000</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="bg-light text-center p-5 wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" placeholder="İsim Soyisim" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control border-0" placeholder="Email" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control border-0" placeholder="Telefon" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <select class="form-select border-0" style="height: 55px;">
                                    <option value="">Konu</option>
                                    <option value="1">Soru</option>
                                    <option value="2">Şikayet</option>
                                    <option value="3">Talep</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <textarea class="form-control border-0" placeholder="Mesaj"></textarea>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Gönder</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
